body {
  background: hsl(86, 35%, 45%);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.underconstruction {
  color: rgb(0, 0, 0);
  font-family: "Press Start 2P", cursive;
  font-weight: 900;
  text-align: center;
}