---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Grid from '../components/Grid.astro';
import Landsale from '../components/Landsale.astro';
import Awards from '../components/Awards.astro';
import Hero2 from '../components/Hero2.astro';
import Monsters from '../components/Monsters.astro';
---

<DefaultLayout title='Enter MintWorld'>
  <section>
    <Hero2 />
  </section>
  <section>
    <Monsters />
  </section>
  <section>
    <Grid />
  </section>
  <section>
    <Landsale />
  </section>
    <section>
    <Awards />
  </section>
</DefaultLayout>
