---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Monsters from "../components/Monsters.astro";
import Grid from "../components/Grid.astro";
import Landsale from "../components/Landsale.astro";
---

<DefaultLayout title="Enter MintWorld">
  <section>
    <Hero />
  </section>
  <section class="padding-48">
    <Monsters />
  </section>
  <section class="padding-48">
    <Grid />
  </section>
  <section class="padding-48">
    <Landsale />
  </section>
</DefaultLayout>
