---
let valist = "/img/valist.webp" 
let coh = "/img/thecohc1s6.webp"
---

<div class="container-sea bg-no-repeat bg-cover bg-center flex flex-col justify-center items-center" style="height: 33.33vh">
  <div class="container text-center text-black">
    <h2>Awards</h2>
    <div class="flex justify-center">
      <a href="https://mirror.xyz/0x0199008e3A1c6f2011bE861B6A1cB01d2B264d43/RvRVpzH26RGNwSJVYml5Zo3JveP-NZucWvjlZ3_62B8" rel="nofollow" target="_blank">
        <img src={valist} alt="Valist GotY 2022 Community Choice" class="object-contain mx-auto h-40 w-40 mr-8 loading="lazy"" />
      </a>
      <a href="https://mirror.xyz/0x0199008e3A1c6f2011bE861B6A1cB01d2B264d43/D724sfGa3VmrF3gq0HdillNfYBGqcSMDBidpDTw0SpU" rel="nofollow" target="_blank">
        <img src={coh} alt="Canto Hackathon The Coh C1S6 NFT Category Winner" class="object-contain mx-auto h-40 w-40 mr-8 loading="lazy"" />
      </a>
    </div>
  </div>
</div>

<style>
  .container-sea {
    background-image: url('/img/sea.webp');
  }
</style>
