---
---

<section class="h-screen flex items-center justify-center">
  <div class="text-center">
    <div class="max-w-sm mx-auto py-1 px-1">
      <h2 class="text-xl tracking-tight sm:text-xl">
        <span class="block">GENESIS LAND SALE</span>
        <span class="block">LIMITED FREE WHITELIST SPOTS</span>
      </h2>
      <div class="mt-2">
        <div class="inline-flex">
          <a
            href="/#genesis-nft-landsale"
            class="inline-flex items-center justify-center px-3 py-2 border text-sm font-medium text-white"
          >
            Coming Soon!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
