---
---
<div class="container-full">
  <div class="container">
    <h2 class="margin-16 bottom">Game Features</h2>
  </div>
  <div class="container" data-auto-grid="2">
    <div
      class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
      data-animation="fade-in"
    >
      <h3>Play & Earn</h3>
      <p>
        <li>Free-2-Play forever</li>
        <li>Burndrops of $MWG for claimed Free NFT Monsters</li>
        <li>Level up your NFT Monsters by playing or buying items</li>
        <li>
          Trade your NFT monsters and earn according to rarity (shiny vs common) &
          Level reached
        </li>
      </p>
      <p>
        <a href="/play/" class="button color-success my-6">Play v0</a>
      </p>
    </div>
    <div
      class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
      data-animation="fade-in"
      data-animation-delay="0.25s"
    >
      <h3>MayorDAOs</h3>
      <p>
        <li>Multiple City-specific DAOs and Land NFT Management</li>
        <li>
          Community voting on the game's story, 2nd layer rules & mechanics: <br>(e.g
          royalties %, spawn rates & items rarity, items & rental costs, city
          taxes, elect mayors, & much more...)
        </li>
        <li>Open source “Mod” development</li>
        <li>Land dNFTs value accrual</li>
      </p>
      <p>
        <a
          href="https://mintworld-1.gitbook.io/docs/fundamentals/game-dynamics-v0#mayordaos"
          target="_blank"
          rel="nofollow"
          class="button color-success my-8">More Info</a
        >
      </p>
    </div>
    <div
      class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
      data-animation="fade-in"
      data-animation-delay="0.5s"
    >
      <h3>Next Level NFT Tech</h3>
      <p>
        <li>
          Dynamic NFTs (dNFTs) - Monster NFT Levels & Land NFT Ranks updating in
          the NFT metadata
        </li>
        <li>100% Onchain logics</li>
        <li>No 3rd party involved in minting process & game dynamics</li>
        <li>Fair & Tamper-Proof randomness allocation</li>
        <li>Trustless NFT Lending (Land NFTs)</li>
        <li>Fiat Payment gateway (coming soon)</li>
        <li>Cross-game interoperability (coming soon)</li>
        <li>Google Play version (Alpha released)</li>
      </p>
      <p>
        <a
          href="https://mintworld-1.gitbook.io/docs/fundamentals/roadmap"
          target="_blank"
          rel="nofollow"
          class="button color-success my-16">More Info</a
        >
      </p>
    </div>
  </div>
</div>

<style>
  .container-full {
    background-image: url('/img/map.webp');
  }

  @media (max-width: 600px) {
    .container[data-auto-grid="2"] {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (min-width: 601px) {
    .container[data-auto-grid="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>