---
---

<div class="container">
  <h2 class="margin-16 bottom">Game Features</h2>
</div>
<div class="container" data-auto-grid="2">
  <div
    class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
    data-animation="fade-in"
  >
    <h3>Play & Earn</h3>
    <p>
      <li>Free-2-Play forever</li>
      <li>Burndrops of $MWG for claimed Free NFT Monsters</li>
      <li>Level up your NFT Monsters by playing or buying items</li>
      <li>
        Trade your NFT monsters and earn according to rarity (shiny vs common) &
        Level reached
      </li>
    </p>
    <p>
      <a href="/play/" class="button color-success my-6">Play v0</a>
    </p>
  </div>
  <div
    class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
    data-animation="fade-in"
    data-animation-delay="0.25s"
  >
    <h3>MayorDAOs</h3>
    <p>
      NFT-Based Land management of city-specific DAOs that allow players and
      communities to decide on the game's story and mechanics (e.g royalties %,
      spawn rates & items rarity, item costs, rental costs, city taxes, elect
      mayors, & much more...)
    </p>
    <p>
      <a
        href="https://mintworld-1.gitbook.io/docs/fundamentals/game-dynamics-v0#mayordaos"
        target="_blank"
        rel="nofollow"
        class="button color-success my-8">More Info</a
      >
    </p>
  </div>
  <div
    class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
    data-animation="fade-in"
    data-animation-delay="0.5s"
  >
    <h3>Next Level NFT Tech</h3>
    <p>
      <li>100% Onchain</li>
      <li>Trustless NFT Lending (Land NFTs)</li>
      <li>DAO based governance</li>
      <li>Dynamic NFTs (e.g Levels updated in metadata of Monster NFTs)</li>
      <li>Fiat Payment gateway (coming soon)</li>
      <li>Cross-game interoperabiliy (coming soon)</li>
      <li>Google Play version (Alpha released)</li>
    </p>
    <p>
      <a
        href="https://mintworld-1.gitbook.io/docs/fundamentals/roadmap"
        target="_blank"
        rel="nofollow"
        class="button color-success my-20">More Info</a
      >
    </p>
  </div>
  <div
    class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
    data-animation="fade-in"
    data-animation-delay="0.5s"
  >
    <h3>Mint World Name Service .mwg</h3>
    <p>
      <li>Own a .mwg domain & interact with your community in-game</li>
      <li>Simplify your trading with Polygon integration</li>
      <li>Showcase your unique monsters and limited edition NFTs</li>
      <li>Be an ambassador & much more...</li>
    </p>
    <p>
      <a
        href="https://arweave.net/3-87HfE76PY-C6iYI831p80fc7jmj2F1zj_mUhu8cVg"
        target="_blank"
        rel="nofollow"
        class="button color-success my-12">More Info</a
      >
    </p>
  </div>
</div>
