---
---

<div class="p-6" id="hero">
  <div class="container mx-auto">
    <div class="flex flex-col sm:flex-row">
      <div class="w-full sm:w-1/2 p-6">
        <h1 class="font-medium text-4xl" id="hero-title">MintWorld Game</h1>
        <p class="text-xl" id="hero-text">
          A community owned web3-based 2D Monster Catcher RPG that allows
          players to collect, fight & trade unique blockchain-based monsters.
        </p>
        <div class="my-6">
          <a href="/play/" class="button size-huge" id="hero-button">Play</a>
        </div>
      </div>
      <div class="w-full sm:w-1/2">
        <img
          src="/logo.png"
          class="object-cover h-full w-full sm:h-64 sm:w-full"
          alt="MintWorldGame Logo"
        />
      </div>
    </div>
  </div>
</div>
