---
---

<div class="" id="hero" style="position: relative;">
  <div id="container">
    <img src="/img/mwlogo.webp" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);" />
    <button style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #b0ea00; background-color: #3e2723; border: 3px solid #b0ea00; font-size: 20px; padding: 10px;" onclick="location.href='/play'">PLAY</button>
  </div>
</div>

<script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js'></script>
<script src="../scripts/script.js"></script>