---
---

<div class="container-ls bg-no-repeat bg-cover bg-center h-screen w-screen flex flex-col justify-center items-center">
  <div id="genesis-nft-landsale" class="container text-center">
    <h2 class="mx-auto">Genesis NFT Landsale</h2>
  </div>
  <div class="container text-center">
    <div class="text-neutral-100">
      <p>Genesis City Land NFTs Coming Soon... Be early.</p>
    </div>
  </div>
  <div class="container margin-16">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-1/3 flex flex-col items-center">
        <img src="/img/1.gif" alt="Genesis Land NFT Forest" loading="lazy" />
        <a
          href="https://mintworld-1.gitbook.io/docs/fundamentals/genesis-city-landsale"
          rel="nofollow"
          target="_blank"
          class="button color-success my-6"
        >
          Genesis City Forest</a
        >
      </div>
      <div class="w-1/3 flex flex-col items-center">
        <img src="/img/2.gif" alt="Genesis Land NFT Water" loading="lazy" />
        <a
          href="https://mintworld-1.gitbook.io/docs/fundamentals/genesis-city-landsale"
          rel="nofollow"
          target="_blank"
          class="button color-success my-6"
        >
          Genesis City Water</a
        >
      </div>
      <div class="w-1/3 flex flex-col items-center">
        <img src="/img/3.gif" alt="Genesis Land NFT Mountain" loading="lazy" />
        <a
          href="https://mintworld-1.gitbook.io/docs/fundamentals/genesis-city-landsale"
          rel="nofollow"
          target="_blank"
          class="button color-success my-6"
        >
          Genesis City Mountain</a
        >
      </div>
    </div>
  </div>
</div>

<style>
  .container-ls {
      background-image: url('/img/tree.webp');
  }
</style>