---
---

<div class="container">
  <div class="grid-cols-6 gap-4 flex flex-col sm:flex-row">
    <div class="col-span-6">
      <p>
        Claim your free daily Monster NFT via the Mint World Faucet Game. If
        you're lucky you can catch one of the 4 rare shiny monsters. Release 10
        common Monsters to receive 1 free MintWorldGame Coin ($MWG) Be one of
        the very first MintPlayers to unlock new content
      </p>
      <p>
        <a href="/play/" class="button color-success mt-8"
          >Start Your Journey</a
        >
      </p>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Watery-web.png"
          alt="Watery"
          loading="lazy"
        />
      </div>
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Windry-web.png"
          alt="Windry"
          loading="lazy"
        />
      </div>
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Octopus-web.png"
          alt="Octopus"
          loading="lazy"
        />
      </div>
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Wingron-web.png"
          alt="Wingron"
          loading="lazy"
        />
      </div>
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Stoneman-web.png"
          alt="Stoneman"
          loading="lazy"
        />
      </div>
      <div class="col-span-4">
        <img
          class="object-cover h-full w-full"
          src="/img/Lavagron-web.png"
          alt="Lavagron"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
