---
import Monsters from '../components/Monsters';
---


<div class="container-mons bg-no-repeat bg-cover bg-center h-screen w-screen flex justify-center items-center text-black">
  <Monsters client:load />
</div>

<style>
  .container-mons {
    background-image: url('/img/mons.webp');
  }
</style>

  